# 11 - 20 Pandas Practice

In [2]:
import pandas as pd
import numpy as np

11. How to bin a numeric series to 10 groups of equal size

In [3]:
ser = pd.Series(np.random.random(20))

In [5]:
ser.head()

0    0.496990
1    0.055529
2    0.566930
3    0.192702
4    0.608885
dtype: float64

In [6]:
pd.qcut(ser, q = [0, .1, .2, .3, .4, .5, .6, .7, .8, .9, 1], 
       labels = ['1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th', '10th']).head()

0    6th
1    2nd
2    7th
3    3rd
4    8th
dtype: category
Categories (10, object): [1st < 2nd < 3rd < 4th ... 7th < 8th < 9th < 10th]

12. How to convet a numpy array to a dataframe of given shape?

In [9]:
ser = pd.Series(np.random.randint(1, 10, 35))

In [11]:
df = pd.DataFrame(ser.values.reshape(7, 5))
df

   0  1  2  3  4
0  2  4  3  9  4
1  7  3  8  1  4
2  4  3  9  3  6
3  9  9  2  6  6
4  8  4  2  8  4
5  8  1  1  7  9
6  5  5  8  5  9

13. How to find the positions of numbers that are multiples of 3 from a series?

In [15]:
ser = pd.Series(np.random.randint(1, 10, 7))

In [21]:
print(ser)
ser[ser % 3 == 0]

0    5
1    3
2    1
3    5
4    7
5    9
6    7
dtype: int64

1    3
5    9
dtype: int64

14. How to extract items at given positions from a series

In [22]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

In [24]:
ser[pos]

0     a
4     e
8     i
14    o
20    u
dtype: object

15. How to stack two series vertically and horizontally ?

In [25]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

In [29]:
pd.concat([ser1, ser2], axis = 1)

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

16. How to get the positions of items of series A in another series B?

In [30]:
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

In [33]:
[pd.Index(ser1).get_loc(i) for i in ser2]

[5, 4, 0, 8]

17. How to compute the mean squared error on a truth and predicted series?

In [34]:
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

In [37]:
np.mean((truth-pred)**2)

0.35566452083466

18. How to convert the first character of each element in a series to uppercase?

In [38]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

In [39]:
ser.apply(lambda x: x.title())

0     How
1      To
2    Kick
3    Ass?
dtype: object

19. How to calculate the number of characters in each word in a series?

In [40]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

In [41]:
ser.apply(lambda x: len(x))

0    3
1    2
2    4
3    4
dtype: int64

20. How to compute difference of differences between consequtive numbers of a series?

In [42]:
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])

In [44]:
ser.diff().tolist()

[nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]

In [ ]:
[(ser(i) - ser(i-1)) for i in range(len)]