# 1 - 10 Pandas Practice

1. How to import pandas and check the version?

In [2]:
import numpy as np
import pandas as pd
print(pd.__version__)
print(pd.show_versions(as_json = True))

1.0.3

/Users/zacharyvillarreal/anaconda3/lib/python3.7/site-packages/pandas_datareader/compat/__init__.py:7: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  from pandas.util.testing import assert_frame_equal

{'system': {'commit': None}, 'dependencies': {'pandas': '1.0.3', 'numpy': '1.18.5', 'pytz': '2019.3', 'dateutil': '2.8.0', 'pip': '19.2.3', 'setuptools': '47.1.1', 'Cython': '0.29.13', 'pytest': '5.2.1', 'hypothesis': None, 'sphinx': '2.2.0', 'blosc': None, 'feather': None, 'xlsxwriter': '1.2.1', 'lxml.etree': '4.4.1', 'html5lib': '1.0.1', 'pymysql': None, 'psycopg2': '2.8.4 (dt dec pq3 ext lo64)', 'jinja2': '2.10.3', 'IPython': '7.8.0', 'pandas_datareader': '0.8.1', 'bs4': '4.8.0', 'bottleneck': '1.2.1', 'fastparquet': None, 'gcsfs': None, 'matplotlib': '3.1.1', 'numexpr': '2.7.0', 'odfpy': None, 'openpyxl': '3.0.0', 'pandas_gbq': None, 'pyarrow': None, 'pytables': None, 'pyxlsb': None, 's3fs': None, 'scipy': '1.4.1', 'sqlalchemy': '1.3.9', 'tables': '3.5.2', 'tabulate': None, 'xarray': '0.15.1', 'xlrd': '1.2.0', 'xlwt': '1.3.0', 'numba': '0.45.1'}}
None

2. How to create a series from a list, numpy array and dict?

In [3]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

In [5]:
ser1 = pd.Series(mylist)
ser2 = pd.Series(myarr)
ser3 = pd.Series(mydict)

In [7]:
print(ser3.head())

a    0
b    1
c    2
e    3
d    4
dtype: int64

3. How to convert the index of a series into a column of a dataframe?

In [8]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

In [10]:
df = ser.to_frame().reset_index()
print(df.head())

  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4

4. How to combine many series to form a dataframe?

In [11]:
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

In [15]:
df = pd.concat([ser1, ser2], axis = 1)

In [16]:
df.head()

   0  1
0  a  0
1  b  1
2  c  2
3  e  3
4  d  4

5. How to assign name to the seriesâ€™ index?

In [17]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))

In [19]:
ser.name = 'alphabets'
ser.head()

0    a
1    b
2    c
3    e
4    d
Name: alphabets, dtype: object

6. How to get the items of series A not present in series B?

In [20]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [21]:
ser1[~ser1.isin(ser2)]

0    1
1    2
2    3
dtype: int64

7. How to get the items not common to both series A and series B?

In [22]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

In [24]:
ser_u = pd.Series(np.union1d(ser1, ser2))
ser_i = pd.Series(np.intersect1d(ser1, ser2))

ser_u[~ser_u.isin(ser_i)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

8. How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?

In [30]:
state = np.random.RandomState(100)
ser = pd.Series(state.normal(10, 5, 25))

In [31]:
np.percentile(ser, q = [0, 25, 50, 75, 100])

array([ 1.25117263,  7.70986507, 10.92259345, 13.36360403, 18.0949083 ])

9. How to get frequency counts of unique items of a series?

In [33]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

In [34]:
ser.value_counts()

f    5
g    4
e    4
h    4
b    4
c    4
a    3
d    2
dtype: int64

10. How to keep only top 2 most frequent values as it is and replace everything else as 'Other'?

In [35]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))

In [39]:
print("Top 2 Freq:", ser.value_counts())
ser[~ser.isin(ser.value_counts().index[:2])] = 'Other'
ser

Top 2 Freq: 2    4
1    4
4    3
3    1
dtype: int64

0         2
1     Other
2         1
3     Other
4         2
5     Other
6         1
7         2
8         1
9         2
10        1
11    Other
dtype: object